@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joke questions</h1>
    <p>Welcome to visit here and have fun and welcome to share your jokes!</p>
</div>
